//-Repeat
mixin repeat(limit)
	- for (var i = 1; i <= limit; i++)
		block




//-Work image without caption
//mixin project-img(src)
	img(src=src alt='').work-img

//-Work image with caption and cut link
mixin project-img-with-caption(src, caption)
	.work-img
		figure.work-img-inr
			img(src='/imgs/portfolio' + src alt='').work-img__img
			figcaption.work-img__caption= caption




//-Advantages
mixin advantage(text)
	.advantage.media
		.advantage__bullet
		.advantage__text= text




//-Contact icons
mixin contacts(href, text, classPref)
	ul.contact-sprite
		li.contact-link
			a(href= href target='_blank' rel='noopener noreferrer' class='contact-link__icon' + classPref).contact-link__icon
				span.contact-link__text= text




//-Work card
mixin work(name, desc, ajax_data, img)
	.col--md-6.col--lg-6
		a.work-card(data-work=ajax_data)
			.work-card__img(style="background-image: url(" + img + ");")
			.work-card__caption
				.work-card__caption__name= name
				.work-card__caption__desc= desc
